*{ box-sizing: border-box; }

body{ 
    margin: 0;
    min-height: 100vh;
    color: white;
    background-color: darkgreen;

}
h1{
    margin: 0;
    padding-bottom: 0.8rem;
}

.titulo{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;

    background-color: lightslategrey;
}
/*  hace referencia a las imagenes de las cartas  */
.cards{
    position: relative;

    width: 10rem;
    margin-left: -75px;


}

/* referencia al div de las cartas */
.boxcartas{

    margin-left: 8rem;
    min-height: 15rem;

}


